.advantages {
  text-transform: uppercase;
}

.advantages__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
