.advantages__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 11px;

  @media screen and (min-width: 768px) {
    margin-bottom: 53px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 41px;
  }
}
