.advantages-list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages-list__item {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: var(--list-main);
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: 768px) {
    border-bottom: none;
  }

  &--accent {
    padding: 0;
    color: var(--text-accent);
    background-color: var(--main);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 33.3333% 33.3333% 33.3333%;
      grid-column: 1 / -1;
    }
  }
}
// позиционирование списка в списке
.advantages-list__real-city {
  align-self: stretch;
  grid-row: 2;
  grid-column: 1 / -1;
}
// картинки
.advantages-list__img {
  &--real-city {
    grid-column: 2 / 4;
  }

  &--bridge {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}
