.advantages-list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// грид с 3 колоннами, строки как лягут, либо потом задам высоту на микросетках
// 2 первых элемента accent - другие цвета и свои микрогриды, фотки спозиционировал ниже
// на десктопе пока не очень, но там будут длинные фотки, лягут по ширине
.advantages-list__item {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: var(--list-main);
  border-bottom: 1px solid #d6d6d6;

  @media screen and (min-width: 768px) {
    border-bottom: none;
  }

  &--accent {
    padding: 0;
    color: var(--text-accent);
    background-color: var(--main);
    border-bottom: none;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 33.3333% 33.3333% 33.3333%;
    }
  }

  &:first-child {
    grid-column: 1 / -1;
  }

  &:nth-child(2) {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}
// позиционирование списка в списке
.advantages-list__real-city {
  grid-row: 2;
  grid-column: 1 / -1;
}
// картинки
.advantages-list__img {
  &--real-city {
    grid-column: 2 / 4;
  }

  &--bridge {
    grid-row: 1;
    grid-column: 1 / 3;
  }
}
