.find-hotel {
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 155px;
    padding-right: 155px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 371px;
    padding-right: 371px;
  }
}

.find-hotel__text {
  line-height: 24px;
}
