.find-hotel {
  padding-top: 33px;
  text-transform: uppercase;
}

.find-hotel__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
