.gallery {
  min-width: 320px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 45px;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 19px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery__title {
  margin-bottom: 27px;

  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.gallery__text {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 40px;

  &:first-of-type {
    margin: 0 auto 0 auto;
    padding-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;

    @media screen and (min-width: 768px) {
      width: 520px;
      padding-bottom: 38px;
      margin-bottom: 40px;
      border-bottom: none;
    }

    @media screen and (min-width: 1200px) {
      width: 440px;
      padding: 0 0 35px 0;
      margin-bottom: 45px;
    }
  }

  @media screen and (min-width: 768px) {
    border-bottom: none;
  }
}

// под img какй-то отспут, в дев тулз не нашел что дает, img figcaption обнулил паддинги
.gallery__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  min-height: 415px;
  padding-top: 22px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 15px;
  border-bottom: 1px solid $capture;

  @media screen and (min-width: 768px) {
    min-height: 267px;
    border-bottom: none;
    padding: 0;

    &:first-child {
      height: 480px;
      grid-column: 1 / -1;

      .gallery__img {
        max-height: 400px;
      }

      @media screen and (min-width: 1200px) {
        max-height: 400px;
      }
    }
    // у каждой нечетной карточки (кроме первой) темная заливка фигкапчи на планшете
    &:nth-child(odd):not(:first-child) {
      .gallery__caption {
        background-color: $capture-accent;

        @media screen and (min-width: 1200px) {
          background-color: initial;
        }
      }
    }
  }
}

.gallery__photo {
  position: relative;
  margin: 0;
  padding: 0;
}

.gallery__img {
  display: block;
  width: 100%;
  max-height: 280px;

  @media screen and (min-width: 768px) {
    max-height: 267px;
  }
}

.gallery__caption {
  padding-top: 10px;
  position: relative;
  display: block;
  text-align: left;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    padding: 15px 15px 0 20px;
    background-color: #f2f2f2;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: $text-accent;
    background-color: rgba($text-main, 0.3);
  }
}

.gallery__author {
  display: block;
  margin-top: 1px;
  margin-bottom: 12px;
  font-weight: normal;
  font-style: initial;
  text-transform: initial;
}

.gallery__likes {
  position: relative;
  font-weight: bold;
  padding-left: 38px;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 29px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.gallery__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 23px;
  height: 21px;
  fill: $text-main;
  opacity: 0.3;

  @media screen and (min-width: 1200px) {
    fill: $text-accent;
    opacity: 1;
  }
}

.gallery__presentation {
  padding-top: 32px;

  .gallery__text {
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 35px;

    @media screen and (min-width: 768px) {
      margin-bottom: 45px;
    }

    @media screen and (min-width: 1200px) {
      width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 785px;
    padding-top: 57px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 800px;
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 47px;
  }
}

.gallery__video {
  @media screen and (min-width: 786px) {
    margin: 0 auto 40px auto;
  }
}
