.gallery {
  width: 320px;
  padding-top: 32px;
  line-height: 24px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
// грид на 2 и 3 колонки по ширине экрана, фото лежат на своих местах,
// но пока загружены только мобильные фото
// под img какй-то отспут, в дев тулз не нашел что дает, img figcaption обнулил паддинги
.gallery__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;

  @media screen and (min-width: 768px) {
    border-bottom: none;
    padding: 0;
  }

  &:first-child {
    grid-column: 1 / -1;
  }
}

.gallery__photo {
  position: relative;
  margin: 0;
  padding: 0;
}

.gallery__caption {
  position: relative;
  display: block;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    min-height: 80px;
    padding-left: 20px;
    background-color: #f2f2f2;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: var(--text-accent);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
// у третьей карточки у figcaption (скорее у всех нечетных, кроме первой)
// другой фон, но как не извращался селекторами не смог зацепить
.gallery__list .gallery__caption:nth-of-type(3) {
  background-color: #eaeaea;
}

.gallery__author {
  display: block;
  font-weight: normal;
  font-style: initial;
  text-transform: initial;
}

.gallery__likes {
  position: relative;
  font-weight: bold;
  padding-left: 38px;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 23px;
    height: 21px;
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    opacity: 0.3;

    @media screen and (min-width: 1200px) {
      background-image: url("../img/icon-like-white.svg");
      opacity: 1;
    }
  }
}

.gallery__presentation {
  padding-top: 32px;

  @media screen and (min-width: 1200px) {
    max-width: 800px;
  }
}
