.page-main {
  text-align: center;
  color: $text-main;
  padding-top: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 55px;
  }
}

.page-main__title {
  display: block;
  width: 280px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 21px;
    width: 480px;
  }
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
