@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.page__body {
  min-height: 100%;
  padding: 0;
  margin: 0 auto;

  //что происходит на длинных мониторах? задать всей странице максималоьную ширину?
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.page {
  height: 100%;
  font-family: "PTSans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.ul-clear {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-clear {
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &--bigger {
    font-size: 21px;
  }
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--text-accent);
  background-color: var(--main);
}
