@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main: #81b3d2;
  --text-main: #000000;
  --text-accent: #ffffff;
  --list-main: #eeeeee;
  --input: #e2e2e2;
}

.page {
  font-family: "PTSans", "Tahoma", sans-serif;
}

.page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

    &--bigger {
      font-size: 21px;
      line-height: 26px;
    }
}

.text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;

    &--bigger {
      line-height: 26px;
    }
}

.main-button {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--text-accent);
  text-transform: uppercase;
  background-color: var(--main);
}
