.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  min-height: 235px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 26px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 768px;
    min-height: 120px;
    padding: 0 8%;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-footer__hashtag {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.page-footer__dev {
  position: relative;
  padding-right: 40px;
  color: var(--text-main);
  line-height: 26px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 35px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/htmlacademy-hover.svg");
  }

  &:active::after {
    background-image: url("../img/logo-htmlacademy.svg");
    opacity: 0.3;
  }
}
