.page-footer {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 26px;
}

.page-footer__hashtag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.page-footer__social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-footer__dev {
  position: relative;
  color: var(--text-main);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;

  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 35px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/htmlacademy-hover.svg");
  }

  &:active::after {
    background-image: url("../img/logo-htmlacademy.svg");
    opacity: 0.3;
  }
}
