.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 320px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: lightblue;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.page-header__sedona {
  margin-top: 52px;
  margin-bottom: 67px;

  &--index {
    margin-top: 90px;
    margin-bottom: 91px;

    @media screen and (min-width: 768px) {
      margin-top: 77px;
      margin-bottom: 91px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 95px;
      margin-bottom: 117px;
    }
  }
}

.nav {
  align-self: stretch;
}

.page-header__logo {
  height: 84px;

  @media screen and (min-width: 1200px) {
    height: 97px;
  }
}

.nav__toggle {
  display: none;
}
