.real-city-list {
  background-color: var(--text-accent);
  color: var(--text-main);
  padding-top: 35px;
  padding-bottom: 35px;
}

.real-city-list__title {
  text-align: left;
}

.real-city-list__item {
  position: relative;
  margin-left: 69px;
  margin-bottom: 26px;
  margin-right: 19px;
  padding-left: 50px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 38px;
    background-repeat: no-repeat;
  }

  &--home::before {
    background-image: url("../img/icon-house-mobile.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift-mobile.svg");
  }

  &--food::before {
    background-image: url("../img/icon-burger-mobile.svg");
  }
}
