.review {
  padding-top: 36px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.review__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
