.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 56px;
    background-color: white;
  }
}
// на макете есть ширина каждой ссылки на планшет и десктоп версиях
// причем под логотипом пустая ссылка такой же велечины, подумаю как спозиционирповать лого
// пока задал order 1
.site-list__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: var(--text-accent);
  background-color: var(--main);
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media screen and (min-width: 768px) {
    color: var(--main-text);
    background-color: white;
    box-shadow: none;
    min-width: 153px;
  }

  @media screen and (min-width: 1200px) {
    color: var(--main-text);
    background-color: white;
    box-shadow: none;
    min-width: 239px;
  }
}
