$main: #81b3d2;
$main-hover: #669ec0;
$main-active: #5496bd;
$menu-active: #766357;
$button-disabled: #e5e5e5;
$menu-active:#766357;
$menu-active-hover:#604e43;
$text-main: #000000;
$text-accent: #ffffff;
$list-main: #eeeeee;
$input: #f2f2f2;
$input-icon: #e6e6e6;
$input-hover: #e5e5e5;
$input-active: #d5d5d5;
$controls-desktop: #666666;
$capture: #e5e5e5;
$capture-accent: #eaeaea;
$disabled: #e5e5e5;
